<ul id="nav_fixed">
      <li class="inform">
        <a href="#">Інформація</a>
        <%= link_to "Головна", controller: "main", action: "index" %>
        <a href="#">Купівля</a>
        <a href="#">Про нас</a>
        <a href="#">Вакансії</a>
      </li>
      <li class="link">
        <a href>some other info</a>
        <!--%= link_to "+ add product", controller: "products", action: "new" %-->
    </li>
</ul>