        <div class="panel-group" id="accordion">

            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#section1" data-toggle="collapse" data-parent="#accordion">Find Us</a></h4>
                </div>
                <div class="panel-collapse collapse in" id="section1">
                    <div class="panel-body">
                        <div id="map"><p>Our Map</p></div>
                        
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#section2" data-toggle="collapse" data-parent="#accordion">Delivery</a></h4>
                </div>
                <div class="panel-collapse collapse " id="section2">
                    <div class="panel-body">
                        <h4>Item delivery:</h4>

                        <small class="text-muted">Delivery(commerce) - From Wikipedia.</br>
                            The general process of delivering goods is known as distribution.</br>
                            The study of effective processes for delivery and disposition of goods and personnel is called logistics.</small>
                    </div>
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#section3" data-toggle="collapse" data-parent="#accordion">Term of usage</a></h4>
                </div>
                <div class="panel-collapse collapse" id="section3">
                    <div class="panel-body">
                        <h4>Warranty:</h4>

                        <small class="text-muted">Item certified
                        Production warranty</br>
                        In contract law, a warranty has various meanings but generally means a guarantee or promise[1] which provides assurance by one party to the other party that specific facts or conditions are true or will happen. </small>
                    </div>
                </div>
            </div>

        </div>