// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
body{
  font-size: 100%;
  font-family: Roboto !important;
  color: red;
  background-image: url(subtle_dots_@2X.png) !important;

}
.wrapper{
overflow: hidden;
}
.searching input{
  display: block;
}
a:hover{
    transition: 0.1s; 
  -moz-transition: 0.1s; 
  -o-transition: 0.1s; 
  -webkit-transition: 0.1s;
}
.login a, .login{
  font-size: 110%;
  color: #95a5a6;
  transition: 0.3s; 
  -moz-transition: 0.3s; 
  -o-transition: 0.3s; 
  -webkit-transition: 0.3s; 
}
.login_form{
  margin-top: -34px;
}
.login a:hover{
  color: #e67e22 !important;
}
.login_form > span{
  font-size: 110%;
}
.login_form span span{
  color: #2980b9;
  font-size: 110%;
}
#map{
  margin: 0 auto;
  margin-top: 8%;

  z-index: 500;
}
.for_gb_color{
  position: relative;
  overflow-x: hidden;
}
.bg_color{
  height: 480px;
  position: absolute;
  /*background-color: #27AE60;*/
  width: 100%;
  margin-top: -440px;
  /*margin-left: -1000px;*/
  z-index: 10;
  border: 1px solid #27ae60;

}
.bg_color::after{
  content: "";
  background-image: url(subtle_dots_@2X.png);
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.search{
  padding: 10px 20px;
  color: #fff;
  background-color: #27AE60;
  border: none;
  transition: .4s;
  margin-top: 2%;
}
.search:hover{
  background-color: #2ecc71;
  box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.4);
}


.img-thumb{
  width: auto;
  height: 100px;
}
