body{
    min-height: 1300px;
}
header{
  height: 100px;
  background: url();
  background-repeat: no-repeat;
  background-position: 10px 20px;
  /*outline: 1px solid red;*/
}
.navbar{
  margin-bottom: 0;
}

/********** Main menu**********/

#nav_fixed {
    list-style:none;
    position: fixed;
    top: 120px;
    left: 0;
    opacity:.5;
    padding:0;
    z-index: 2;
    width:50px;
    text-transform: uppercase;
    font-weight: bold;
    
    -moz-transition:opacity .3s ease-in-out;
    -webkit-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
}

#nav_fixed:hover {
    opacity:1;
}

#nav_fixed li {
    height:50px;
    overflow:hidden;
    width:50px;
    
    -moz-transition:width .2s ease-in-out, height .2s ease-in-out .2s;
    -webkit-transition:width .2s ease-in-out, height .2s ease-in-out .2s;
    -o-transition:width .2s ease-in-out, height .2s ease-in-out .2s;
    transition:width .2s ease-in-out, height .2s ease-in-out .2s;
}

#nav_fixed li:hover {
    height:175px;
    width:200px;
}

#nav_fixed li a {
    background:#DCDCDC;
    color:#fff;
    cursor:pointer;
    display:block;
    height:40px;
    line-height:40px;
    margin:1px;
    padding-left:15px;
    width:200px;
    text-decoration:none;
    
    -moz-transition:background .2s ease-in-out;
    -webkit-transition:background .2s ease-in-out;
    -o-transition:background .2s ease-in-out;
    transition:background .2s ease-in-out;
}

#nav_fixed li a:hover {
    background:#32658C;
}

#nav_fixed li a:first-child {
    font-size:1.1em;
    height:50px;
    line-height:50px;
    position:relative;
    text-indent:36px;
}

#nav_fixed li a:first-child::before {
    content:'';
    display:block;
    height:32px;
    left:9px;
    position:absolute;
    top:9px;
    width:32px;
}

.inform a:first-child::before {
    background:url(http://www.defaulticon.com/sites/default/files/styles/icon-front-page-32x32-preview/public/field/image/help.png?itok=LLCXh8Cx) center no-repeat;
}
.link a:first-child::before {
    background:url(http://www.defaulticon.com/sites/default/files/styles/icon-front-page-32x32-preview/public/field/image/info.png?itok=cZOI2e9i) center no-repeat;
}

@media only screen and (max-width: 950px){
  #nav_fixed{
    display: none;
  }
}

span.reg-bl{
  color: #444;
  font-weight: bold;
  
  font-size: 1em;
  font-family: 'PT Sans';
  margin: 5px;

}
span.reg-bl a{
text-decoration: underline;
}
span.reg-bl a:hover{
  text-decoration: none;
}

.top-content > div{
  /*outline: 1px solid red;*/
}

a.thumbnail{
  display: inline-block;
  width: 80px;
  height: 60px;
  margin: 0;
  padding: 0 10px;
}

/* Tabs style section */

.tab-content{
    font-family: 'PT Sans';
    font-size: 1em;
    min-height: 160px;
}

#tab1{
    padding: 10px 20px;
    text-indent: 10px;
}
#price > div{
    /*outline: 1px solid black;*/
}
.not-empty{
    color: #46A679;
}
.price{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
a[href="#priceReduction"]{
  text-decoration: underline;
  cursor: pointer;
  color: #428bca;
}
a[href="#priceReduction"]:hover{
  text-decoration: none;
}
.red-text{
  color: red;
}
.small-text{
  font-size: .7em;
}

.btn-buy{
  display: block;
  width: 120px;
  position: relative;
  font-family: 'PT Sans';
  margin: 5px 0;
  height: 40px;
}
.btn-buy::before{
  content: '';
  display: block;
  position: absolute;
  background: url(http://www.defaulticon.com/v1/assets/icons/png/16x16/basket-inv.png) no-repeat;
  width: 16px;
  height: 16px;
  left: 10px;
  top: 10px;
}
#myPopover{
  width: 120px;
  height: 25px;
  font-family: 'PT Sans';
  display: block;
  text-align: center;
  font-size: .7em;
}
.nav-tabs {
  border-bottom: 1px solid #BF2A2A;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover{
  font-weight: bold;
  border: 1px solid #BF2A2A;
  border-bottom: 1px solid transparent;
}
.breadcrumb{
  background-color: #2C516E;
}
.breadcrumb a{
  color: #fff;
  font-weight: bold;
}
.inform-block{
  /*outline: 1px solid red;*/
}
.well{
  background-color:#AFCDD3;
  font-size: 12px;
}

.modal-fixed{
  position: fixed;
  bottom: 0;
  background: #F0F0EF;
  border: 1px solid #DA8104;
  z-index: 20;
  right: 5px;
  top: 350px;
  height: 290px;
  
/*  height: 45px;
  overflow: hidden;*/
  width: 300px;
}
.modal-head{
  display: block;
  background-color: #DA8104;
  color: #fff;
  height: 45px;
  position: relative;
  line-height: 45px;
  text-align: left;
  padding-left: 35px;
  font-size: 1.1em;
  font-weight: bold;
}
.modal-head:before{
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 14px;
  left: 10px;
  content: '';
  background: url(http://www.defaulticon.com/v1/assets/icons/png/16x16/mail.png) no-repeat;
}
.modal-head button{
  position: absolute;
  top: 10px;
  right: 15px;
}
span.vertical-line{
  height: 25px;
  width: 1px;
  background: #ddd;
  position: absolute;
  top: 10px;
  right: 65px;
}

.modal-body{
  /*outline: 1px solid red;*/
}
.modal-body > p{
  font-size: .8em;
}
.panel-heading{
  /*outline: 1px solid red;*/
  color: #fff;
  height: 30px;
  padding: 0 0 0 30px;
  background-color: #2C516E;
  border: 1px solid #2C516E;
}
.panel-heading h4.panel-title{
  line-height: 30px;
  font-size: 1.1em;
  margin: 0;
}
.panel-body > h4{
  margin: 0 0 5px 0;
  font-weight: bold;
  font-size: 1.1em;
}
#content_carousel{
      display: block;
        margin: 0 auto;
  /*height: 160px;*/
  /*outline: 1px solid red;*/
  padding: 10px 0;
  

}
#wrap_carousel{
    position: relative;
}
#p-prev, #p-next{
  position: absolute;
  display: block;
  width: 30px;
  cursor: pointer;
  height: 30px;
  background-repeat: no-repeat;
  top: 50px;
  background-position: 0 -30px;
  /*outline: 1px solid black;*/
}
#p-prev{
  background: url(../imgs/gray_prev.png);
  left: 150px;
}
#p-next{
  background: url(../imgs/gray_next.png);
  right: 150px;
}
#p-prev:hover,
#p-next:hover{
  background-position: 0 30px;
}
ul#gallery{

  padding: 0;
  
  /*outline: 1px solid red;*/
}
ul#gallery > li{
  float: left;
  width: 92px;
  margin-right: 17px; 
  list-style-type: none;
  /*min-height: 160px;*/
  /*outline: 1px solid green;*/
}
ul#gallery > li  a:first-child{
  border: 1px solid #DDDDDD;
  display: block;
  padding: 5px 0;
  border-radius: 3px;
  overflow: hidden;
}
ul#gallery > li > a > img{
  width: 92px;
  height: 90px;
}
a.goods-title{
  color:#4682B4;
  font-size: 9px;
  display: block;
  text-align: left;
}
span.goods-price{
  font-weight: bold;
  color:#444444;
  font-size: 9px;
}
footer{
  margin-top: 10px;
  background: #2C516E;
  height: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  border-radius: 5px 5px 0 0;
  font-size: .8em;
}

.editImage{
  width: 300px;
  height: 100px;
  margin-left: 400px;
  margin-bottom: 30px;
}
