// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#shop-prod-show img{
  padding: 3px;
  border: 1px solid #bdc3c7;
  transition: 0.2s;
  width: 100%;
  height: auto;
}
.shop h1{
  font-size: 6em;
  text-align: center;
}