<p>Назва:<br/> <%= f.text_field :name %></p>
<p>Ціна:<br/> <%= f.text_field :price %></p>
<p>Опис:<br/> <%= f.text_area(:description, :size => '40x6') %></p>
<p>Короткий опис:<br/> <%= f.text_area(:side_description, :size => '40x5') %></p>

