<h1>Map#index</h1>
<p>Find me in app/views/map/index.html.erb</p>
<div>
  <div id="map"></div>
  <span id="toggleDrawingControl" class="btn btn-default">On/Off drawing mod</span>
  <span id="deleteShape" class="btn btn-default">Delete</span>
  <span id="saveShape" class="btn btn-default">Save</span>
  <span id="coordinatesShape" class="btn btn-default">Coords</span>
  <span id="debug"></span>
</div>